


<!--  <button (click)="changeTrue()">Back</button>-->
<a routerLink="/"><div class="back">BACK</div></a>
<h3>-Users-</h3>
<ul>

  <li *ngFor="let user of users.allUser, let i = index">

      <!--якщо ставим слеш спочастку то перезапише поточну урлу -/todos ,
			2) [queryParams]="todo" дані todo йдуть в queryParams
			-->
    <div class="li">

      <form  #form='ngForm'>
      <p contenteditable="true"> <span class="span spanHeaders">User № {{i+1}}:</span> <br>
        <span class="span">
          name:
        </span>
        <input *ngIf="!isUpdate" [(ngModel)]="user.name" type="text" name="name">
        <span *ngIf="isUpdate" class="changeForInput" contenteditable="true">
           {{user.name}}
        </span>,
        <br>
        <span class="span">
          email:
        </span>
        <input *ngIf="!isUpdate" [(ngModel)]="user.email" type="text" name="email" >
        <span *ngIf="isUpdate" class="changeForInput">
           {{user.email}}
        </span>
        <input style="display: none"  [(ngModel)]="user._id" type="text" name="id">
        <button
          class="update"
          *ngIf="isUpdate"
          (click)="changeUpdate()">
          Change
        </button>

        <button
          class="update"
          *ngIf="!isUpdate"
          (click)="update(user)">
          Send
        </button>

        <button class="delete" (click)="delete(user._id)">x</button>
      </p>
      </form>
      <!--<form *ngIf="!isUpdate" >
          <input id="name1"  (blur)="changeUserValue(value)" type="text" name="name" [(value)]= user.name>
        <br>
          <input  type="email" name="email" [(value)] = user.email>
        <br>
          <input  type="text" name="id" [(value)] = user._id>
        <br>
        <button
          type="submit"
          class="update"
          (click)="update(user)">
          Do change
        </button>
      </form>-->

      <!--<form *ngIf="!isUpdate" #form='ngForm'>
      <input [(ngModel)]="user.name" type="text" name="name">
        <br>
        <input [(ngModel)]="user.email" type="text" name="email" >
        <br>
        <input  [(ngModel)]="user._id" type="text" name="id">
        <br>
        <button
          (click)="update(user)">
          Send
        </button>
      </form>-->


    </div>


  </li>

</ul>

